H3
{
	font-family: arial;
	font-size: 20pt;
	position: absolute;
	left: 400;
	right: 500;
}
BODY
{
	font-family: times;
	background-color: white;
}

TABLE
{
  position:absolute;
  left: 600;
  right: 600;
  margin-top: 100;
  border:solid;
  border-color: gray;

 }

 #credits
 {
 	position: absolute;
 	margin-top: 400;
 	margin-left: 400;
 	font-family: times;
 	text-decoration: underline;
 	font-size: 15pt;

 }

  
